.input_label {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.value_select {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 4px;
}
